# **Pandas Series**
A series is a 1D labeled array capable of holding any data type. The aixs labels are collectively called the index.

In [13]:
import numpy as np
import pandas as pd

In [14]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'p':10, 'q':20, 'r':30}

In [15]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [16]:
# Set Custom Index
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [18]:
pd.Series(d)

p    10
q    20
r    30
dtype: int64